<%= link_to "Create Track", new_event_track_path(@event) %>


<% @tracks.each do |track| %>
	<div id="track_<%= track.id %>">
		<%= link_to "Exibir #{track.title}", event_track_path(@event.id, track.id) %>
		<%= link_to "Alterar Track", edit_event_track_path(@event.id, track.id) %>
		<div class="track_date"> <%= track.date %> </div>
		<div class="track_local"> <%= track.local %> </div>
		
		<ul>
			<% track.occurrences.each do |occurrence| %>
			<li>
				<%= occurrence.hour %> - <%= occurrence.description %>
			</li>
			<% end %>
		</ul>
		
	</div>
<% end %>