<h2><%= @event.title %></h2>

<%= form_for @track, :url => { :action => "create" } do |f| %>

  <%= f.hidden_field :event_id, :value => @track.event_id %>

  <%= f.input_comp :title %>
  <%= f.input_comp :date %>

  <%= f.submit "Create" %>
<% end %>
