<h2><%= @event.title %></h2>

<%= form_for @track, :url => { :action => "create" } do |f| %>

  <%= f.hidden_field :event_id, :value => @track.event_id %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>

  <%= f.submit "Create" %>
<% end %>
