<!DOCTYPE html>
<html>
<head>
  <title>Konverents - Kind Of New Victorious Events Really Excellent, Nice and Totally Smooth</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Shadows+Into+Light" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

<section><%= yield %></section>

<%= render "layouts/footer" %>

</body>
</html>
