<!DOCTYPE html>
<html>
<head>
  <title>Konverents - Kind Of New Victorious Events Really Excellent, Nice and Totally Smooth</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>
<%= render "layouts/menu" %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<section><%= yield %></section>

<%= render "layouts/footer" %>

</body>
</html>
